# EditorConfig file: http://EditorConfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{d,h,hpp,c,cpp,cxx,cs,hs,java,kt,py,rs,sol,sdl}]
indent_size = 4

[{dub.selections.json,Makefile,go.mod,go.sum,*.go,.gitmodules}]
indent_style = tab
indent_size = 4

[{CMakeLists.txt,*.cmake}]
indent_size = 2
indent_style = space

# Disable indent checking for markdown - code blocks may have intentional
# spacing for visual output examples
[*.md]
indent_size = unset
